<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
        <string>Advatek Assistant</string>
	<key>CFBundleDisplayName</key>
        <string>Advatek Assistant</string>
	<key>CFBundleIdentifier</key>
        <string>com.advateklights.assistant</string>
	<key>CFBundleVersion</key>
	<string>2.3.1</string>
	<key>CFBundlePackageType</key>
        <string>APPL</string>
	<key>CFBundleSignature</key>
        <string>????</string>
	<key>CFBundleAllowMixedLocalizations</key>
        <string>YES</string>
	<key>CFBundleExecutable</key>
        <string>Assistant</string>
	<key>NSHighResolutionCapable</key>
        <string>true</string>
	<key>LSApplicationCategoryType</key>
        <string>public.app-category.utilities</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3</string>
	<key>CFBundleIconFile</key>
	<string>Assistant.icns</string>
</dict>
</plist>
